* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nanum Square';
    src: url('')
}

.text-center {
    text-align: center;
}

.aboutUS {
    padding: 85px 0;
}

.bg-success {
    background-color: #efefef;
}

.container {
    width: 750px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.aboutUS h2, hr {
    margin-top: 10px;
    margin-bottom: 15px;
}

.small {
    font-size: 85%;
}

body {
    font-family: ;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

hr {
    max-width: 100px;
    border: 0;
    border-top: 1px solid #eee;
    height: 1px;
}

