* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nanum';
    src: url('../fonts/NanumSquareL.ttf') format('truetype');
}

@font-face {
    font-family: 'Nanum Bold';
    src: url('../fonts/NanumSquareB.ttf') format('truetype');
}

.text-center {
    text-align: center;
}

.aboutUS {
    padding: 70px 0;
}

.bg-success {
    background-color: #efefef;
}

.container {
    width: 750px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.aboutUS h2, hr {
    margin-top: 10px;
    margin-bottom: 15px;
}

.small {
    font-size: 85%;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.img-aboutUS {
    margin: 5px auto 30px auto;
    max-width: 380px;
    font-size: 10px;
    font-weight: 300;
}

.fadeIn {
    opacity: 0.4;
}

.text-info {
    color: #44546A;
}

.text-right {
    text-align: right;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.form-control {
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
}

.signup-section {
    background-color: #f8f9fa !important;
    opacity: 1;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    width: 1425px;
    height: 450px;
}

.input-padding {
    display: inline-block;
    width: 636.82px;
    padding: 0 12px;
}

.col-auto {
    display: inline-block;
    margin: 0;
    width: 187.18px;
    padding: 0 12px;
}

body {
    font-family: 'Nanum';
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

h2 {
    font-size: 32px;
}

hr {
    max-width: 100px;
    border: 0;
    border-top: 1px solid black;
    height: 1px;
}

figure {
    opacity: 1;
    display: block;
    margin: 1em 40px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

img {
    vertical-align: middle;
    border: 0;
    width: 375px;
}

b {
    font-family: 'Nanum Bold';
}

form {
    width: 800px;
    margin: 0 auto;
    padding: 180px;
}

input {
    width: 500px;
    margin: 0;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgb(0 0 0 / 10%) !important;
    padding: 1.25rem 2rem;
    height: auto;
    font-family: 'Nanum';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

nav {
    display: block;
    width: 100%;
    height: 45px;
}

nav div {
    display: block;
    width: 60%;
    height: 45px;
    /* float: right; */
}

nav div span {
    display: block;
    /* width: 20%; */
    float: left;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 10px 30px;
}

nav div span:hover {
    background-color:black;
    color: white;
    padding: 0.3em 0.7em;
    text-decoration: none;
}

.nav-center {
    margin: auto;
    text-align: center;
    width: max-content
}

#home-image {
    display: block;
    width: 100%;
    height: 600px;
    background-image: url("https://startbootstrap.github.io/startbootstrap-creative/assets/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#home-image span{
    display: block;
    text-align: center;
}

main {
    padding: 70px 0;
    margin: 0 auto;
    width: max-content;
    height: 600px;
    overflow: hidden;
}

#header {
    border-bottom: 2px solid gray;
    max-width: 200px;
    margin: auto;
    padding: 5px;
    text-align:center;
}

#mainblock {
    top: 50%;
    left:0;
    width:100%;
    height:50%;
    text-align: center;
    margin-top: 50px;
    overflow: hidden;
}

#block1, #block2, #block3, #block4 {
    height: 350px;
    width: 200px;
    float: left;
    padding: 20px;
}

.icon-image {
    width: 150px;
}

.home-image-title {
    padding-top: 200px;
    font-size: 60px;
    color: white;
}

.home-image-content{
    color: gray;
    font-size: 20px;
}

#home-image a{
    text-decoration: none;
    margin: 0;
    padding: 0px;
    display: block;
    width: 150px;
    height: 40px;
    background-color: white;
    margin: auto;
    margin-top: 35px;
    padding-top: 10px;
}

#home-image a span {
    color: black;
}

.answer {
    text-align: right;
    border: 1px dashed lightgray;
    padding: 20px 10px 20px 10px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.question {
    text-align: left;
}

#faqTitle {
    border-bottom: 2px solid gray;
    max-width: 100px;
    font-size: 30px;
    margin: auto;
    padding: 5px;
    text-align:center;
}

#faqSub {
    margin-bottom: 50px;
    padding: 10px;
    text-align:center;
    font-size: 15px;
    color: #333;
    font-weight: 400;
}

.faqSector {
    height: auto;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.faqContents{
    width: 700px;
    vertical-align: middle;
    display: inline-block;
}

.apostrophe{
    content: "\201C";
    font-size: 120px;
    color: #44546A;
    font-family: Georgia, Serif;
    display: inline;
    top: -40px;
    left: -55px;
    position: absolute;
}

#faq{
    margin: 0 auto;
    width: 700px;
}

.study{
    height: 500px;
    background-color: #999;
    position: relative;
    padding: 160px;
}

#desktop{
    margin: 0 auto;
    height: 64px;
    width: 64px;
    vertical-align: middle;
    display: inline-block;
}

#studyWithUs {
    color: white;
    font-size: 30px;
    font-weight: 30;
    vertical-align: middle;
}